#works {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw; /* Changed from 100dvw to 100vw */
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start to move content to the top */
  text-align: center;
  padding: 1rem;
}

.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
  margin-bottom: 3rem; /* Increased space above the portfolio items */
}

.workImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start of the container */
  width: 100%; /* Ensure it spans the full width */
  max-width: 60rem; /* Match the max-width of #works for alignment */
  padding-left: 0.5rem; /* Adjust the padding to account for the margin of portfolioItem */
  padding-right: 0.5rem;
}

.worksImg {
  object-fit: cover;
  width: 100%;
  height: 200px; /* Example fixed height */
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.portfolioItem {
  flex: 1 0 calc(33.333% - 1rem);
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  box-sizing: border-box;
  min-height: 250px; /* Example minimum height */
}

.portfolioDesc {
  background-color: #f0f0f0;
  border-radius: 0 0 1rem 1rem;
  color: #000000;
  font-size: 1rem;
  padding: 0.4rem;
  text-align: center;
  margin-top: -5px;
}

.portfolioItem img {
  width: 100%; /* Ensures image takes the full width of the container */

  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.portfolioItem img:hover {
  transform: scale(1.05); /* Scales up the image to 105% of its original size */
  cursor: pointer; /* Changes the cursor to indicate the item is interactive */
}

.workBtn {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
}

.workBtn:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .portfolioItem {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .portfolioItem {
    width: calc(100% - 1rem);
  }
}
